.main-tumbnail{
    object-fit: cover;
    position: relative;
    width: 1550px;
    position: relative;
    background-image: linear-gradient(to bottom, none,#CCC);
}

.box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    height: 400px;
    position: absolute;
    top: 340px;
    margin-left: 20px;
    
}

.box1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    height: 400px;
   
    margin-left: 20px;
    margin-top: 50px;
}

p{
    margin: 0;
    padding: 0;
}

.top-content{
    
    align-items: center;
    vertical-align: middle;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0;
    width: 300px;
    color: rgb(15, 17, 17);
    font-weight: 700;
    font-size: 19px;
    line-height: 27.3px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.watch-tumbnail{
    display: flex;
    height: 250px;
    width: 300px;
    padding-left: 25px;
    margin-top: 0;
    padding-top: 0px;
}

.bottom-content{
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    color: rgb(41, 145, 180);
    font-family: Roboto,Arial;
    font-size: 15px;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.headphones-grid{
    width: 350px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: 150px 150px;
}

.boult{
    margin-top: 20px;
    width: 150px;
    height: 100px;
    padding-left: 20px;
}

.offers-tag{
    font-size: 12px;
    font-family: Roboto, Arial;
    padding-left: 15px;
  

}

.top-discription{
    margin-left: 20px;
    font-family: Roboto, Arial;
    font-weight: 700;
    font-size: 20px;
    padding-top: 25px;
}

.deals-tab{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 1500px;
    column-gap: 5px;
    height: 350px;
    background-color: white;
    margin-top: 20px;
     margin-left: 20px;
     position: relative;
}

.deals-tab1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 1500px;
    column-gap: 5px;
    height: 300px;
    background-color: white;
    margin-top: 20px;
     margin-left: 20px;
     position: relative;
}



.top{
    position: absolute;
}

.deal-day{
    display: flex;
    flex-direction: row;
  
}

.wallpaper{
    width:184px;
    height: 184px;
    object-fit: contain;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 2px;
    margin-bottom: 10px;
    border: 0.1px;
    border-style: solid;
    border-color: #CCC;
}

.wallpaper1{
   
    object-fit: contain;
    padding: 10px 25px;
    
    border-radius: 2px;
    margin-bottom: 10px;
}


.discount-details{
    font-family: Roboto,Arial;
    padding: 4px 8px;
    background-color: rgb(212, 33, 33);
    color: white;
    width: 80px;
    margin-right: 5px;
    border-radius: 2px;
    font-size: 13px;
   

}

.deal{
    font-family: Roboto, Arial;
    background-color: white;
    font-weight: 300;
    color: red;
    font-size: 12px;
    margin-top: 2px;
    font-weight: 500;
}

.discripition{
  
    font-family: Roboto,Arial;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 300;
}

.middle{
  
    margin-top: 50px;
}

.middle1{
    margin-top: 50px;
    margin-left: 20px;
}